@import '../node_modules/bootstrap/scss/bootstrap';
@import './components/mixins';
@import './components/variables';

html, body {
    padding: 0;
    margin: 0;
}

.content-padding {
    @include clamp('padding-left', 40px, 15.2vw, 160px);
    @include clamp('padding-right', 40px, 15.2vw, 160px);
}

.header {
    @include clamp('padding-top', 15px, 5.2vw, 27px);
    text-transform: uppercase;

    &-cta {
        background: $primarycolor;
        border-radius: 0;
        padding: .38rem 1.95rem;

        &:hover {
            background: $primarycolor;
            opacity: 0.8;
        }
    }
}

.hero {
    background: url("../../assets/img/innerzen-hero-image.png") no-repeat center center;
    background-size: cover;
    height: 90vh;
}