@import "../node_modules/tailwindcss/base";
@import "../node_modules/tailwindcss/components";
@import "../node_modules/tailwindcss/utilities";

@import './components/mixins';
@import './components/variables';
@import './components/fonts';
@import './components/header';
@import './components/footer';

html, body {
    padding: 0;
    margin: 0;
    font-family: map-get($map: $poppins, $key: 'poppinsl');
}

.content-padding {
    @include clamp('padding-left', 40px, 15.2vw, 160px);
    @include clamp('padding-right', 40px, 15.2vw, 160px);
}

.hero {
    background: url("../../assets/img/innerzen-hero-image.png") no-repeat center center;
    background-size: cover;
    height: 66.22vh;

    &-title {
        font-family: map-get($map: $poppins, $key: 'poppinst');
        @include clamp('font-size', 25px, 10.2vw, 83px);
        text-transform: uppercase;
        max-width: 592px;
        letter-spacing: 4px;
        line-height: 90%;
    }

    &-keyword {
        color: $primarycolor;
    }

    &-box {
        left: 50%;
        transform: translate(-50%, 0);
        top: 280px;
        max-width: 814px;
        column-gap: 7.5rem;
        min-height: 164px;
        box-shadow: 0px 19px 86px 0px rgba(107, 107, 107, 0.19);

        &-cta {
            color: $primarycolor;
            @include clamp('font-size', 16px, 10.2vw, 24px);
            text-transform: uppercase;
            letter-spacing: -1px;

            &-icon {
                margin-bottom: 13px;
            }
        }
    }
}

.about-section {
    @include clamp('margin-top', 40px, 15.2vw, 153px);
    @include clamp('margin-bottom', 30px, 15.2vw, 119px);
    
    &-item-1 {
        @include clamp('padding-right', 25px, 10.2vw, 57.5px);
    }

    // @include media-breakpoint-down(xl) {
    //     &-item-1 {
    //         padding-right: 2.5rem;
    //     }
    // }

    // @include media-breakpoint-down(lg) {
    //     &-item-1 {
    //         padding-right: 0;
    //     }
    // }

    &-item-2 {
        @include clamp('padding-left', 25px, 10.2vw, 57.5px);
    }

    // @include media-breakpoint-down(xl) {
    //     &-item-2 {
    //         padding-left: 2.5rem;
    //     }
    // }

    // @include media-breakpoint-down(lg) {
    //     &-item-2 {
    //         padding-left: 0;
    //     }
    // }

    &-title {
        @include clamp('font-size', 25px, 4.2vw, 50px);
        @include clamp('margin-bottom', 15px, 4.2vw, 30px);
        letter-spacing: 2px;
        line-height: 110%;
        max-width: 427px;
        text-transform: uppercase;
        border-left: 6px solid $primarycolor;
        padding-left: 22px;
    }

    &-content {
        @include clamp('margin-bottom', 15px, 4.2vw, 30px);
        max-width: 455px;
        line-height: 170%;
        color: #434444;
    }

    &-cta {
        background: $primarycolor;
        border-radius: 0;
        padding: 0.65rem 1.8rem;
        white-space: nowrap;
        text-transform: uppercase;

        &:hover {
            background: $primarycolor;
            opacity: 0.8;
        }
    }
}